<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>ViewBag.Title</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=f91a4e08-b2e5-4a32-9822-0d2cfa82c98b&lang=ru_RU&l=map,trf" type="text/javascript"></script>
</head>
<body>
    @Html.Partial("_Head")

    <div class="container-fluid">
        @RenderBody()
    </div>

    @Html.Partial("_Floor")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
